# Project Title
A brief description of the project, its objectives, and any other relevant information.

## Foundations of Risk and Performance Analysis
In this first section, I dive into the fundamental risk and performance indicators critical to portfolio management. I start by demystifying volatility as the primary measure of risk. Then, I delve into the significance and persistence of risks in non-normal return distributions, highlighting the importance of understanding higher-order moments for strategic asset allocation.

I also introduce more nuanced risk metrics like Value-at-Risk (VaR) and Conditional Value-at-Risk (CVaR), crucial for handling assets with non-standard returns. This part is about laying the essential groundwork for navigating portfolio risks and enhancing performance with a keen eye on the intricacies of asset behavior.

In [1]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns
#from datetime import datetime
# Add any other libraries you anticipate needing

### Risk Adjusted Returns

Let's start working with some real data. I read in the monthly returns of a set of 10 portfolios formed on market caps, or market equities of the companies. Of the 10 portfolios, I would look at the largest cap and the smallest cap companies:

In [9]:
me_m = pd.read_csv("Data/Portfolios_Formed_on_ME_monthly.csv",
                   header=0, index_col=0, parse_dates=True, na_values=-99.99)
me_m.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec.02,Dec.03,Dec.04,Dec.05,Dec.06,Dec.07,Dec.08,Dec.09,Hi 10
192607,NaN,-0.43,1.45,2.68,-0.57,0.37,1.65,1.50,3.33,-1.42,0.29,-0.15,0.88,1.45,1.85,1.63,1.38,3.38,3.29
192608,NaN,3.74,3.03,2.09,3.60,3.64,3.66,1.58,2.33,4.61,2.59,4.03,3.24,2.66,4.67,1.54,1.63,0.98,3.70
192609,NaN,-1.07,-0.59,0.16,-0.48,-1.55,0.03,-0.47,-0.09,0.91,-1.87,-2.27,-0.84,0.12,-0.07,-1.58,0.64,-0.86,0.67
192610,NaN,-3.29,-3.56,-3.06,-3.25,-4.18,-2.90,-3.36,-2.95,-4.72,-1.77,-3.36,-5.01,-3.09,-2.71,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.83,3.09,-0.54,2.25,3.37,3.37,3.16,-0.77,-0.32,-0.29,4.79,3.17,3.58,3.80,2.95,3.61,2.70

In [10]:
cols = ['Lo 10', 'Hi 10']
returns = me_m[cols]
returns.head()

        Lo 10  Hi 10
192607  -1.42   3.29
192608   4.61   3.70
192609   0.91   0.67
192610  -4.72  -2.43
192611  -0.77   2.70

Note that the data is already given in percentages (i.e 4.5 instead of 0.045) and we typically want to use the actual numbers (i.e. 0.045 instead of 4.5) so we should divide the raw data from the file by 100.

In [12]:
returns = returns/100

## Data Collection
Code and documentation for how to collect or import your data. This could be from a file, a database, or an API.

## Data Cleaning and Preparation
Steps to clean and prepare your data for analysis. This might include handling missing values, data type conversions, and data filtering.

## Exploratory Data Analysis (EDA)
Initial exploration of the data to understand its characteristics and to find patterns or anomalies. This section should include statistical summaries and visualizations.

## Financial Analysis / Modeling
Depending on the project, this section could include financial ratio analysis, time series forecasting, portfolio optimization, or algorithmic trading strategies.

## Results Visualization
Visualize the results of your analysis or modeling using plots and charts.

## Conclusion
Summarize the findings of your project, any conclusions you can draw, and possible next steps or areas for further research.

## References
List any references or data sources you used in your project.